body.outside {
	background-color: #3498DB;
	padding: 50px;
}

.app-title {
	text-align: center;
	color: #777;
}

.login {
	margin: 20px auto;
	width: 300px;
}

.login-screen {
	background-color: #FFF;
	padding: 20px;
	border-radius: 5px
}

.login-form {
	text-align: center;
}

.login-form input {
	width: 250px;
}

.new-user-screen {
	max-width: 600px;
	margin: 0 auto;
}

.control-group {
	margin-bottom: 10px;
}

.outside .btn {
	display: block;
}

.login-link {
	font-size: 12px;
	color: #444;
	display: block;
	margin-top: 12px;
}

#warning {
	background-color: #AAA;
	padding: 20px;
	border-radius: 5px
}

.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 250px;
	height: 250px;
}

.cropit-preview-image-container {
	cursor: move;
}

.uploader .image-size-label {
	margin-top: 10px;
}

.uploader input, .uploader .export {
	display: block;
}

.uploader button {
	margin-top: 10px;
}

.rate-layout {
	display: flex;
	width: 532px;
	justify-content: space-between;
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}

.rate-images > li {
	flex: 0 0 256px;
}

.rate-images > li:last-child {
	text-align: right;
}

.high-score-list {
	list-style-type: none;
	margin: 20px 0;
}
