<!DOCTYPE html>

<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='javaScriptFunctions.js')}}"></script>
</head>
  <body>
	{% extends "layout.html" %}
	{% block content %}
	<div class="home">
	  <h1>Rate Me</h1>
	  <p>Please evaluate the presented images</p> 
	  <ul>
	  <li>
	    <img src={{ images[0] }} width="256" height="256" id="image1">
		<img src={{ images[1] }} width="256" height="256" id="image2">
	  </li>
	  <form action="/vote" method="post">
	  	<input id="vote1" type="button" value="Vote Image 1" onclick="sendVoteData('image1');" />
	  	<input id="vote2" type="button" value="Vote Image 2" onclick="sendVoteData('image2');" />
	  	<input id="tie" type="button" value="tie" onclick="sendVoteData('tie');" />
	  </form>
	  <form action="/report" method="post">
	    <button name="CastReport" value={{ images[0] }}>Report image 1</button>
		<button name="CastReport" value={{ images[1] }}>Report image 2</button>
	  </form>
      </ul>
	</div>
	{% endblock %}
  </body>
</html>

