{% extends "layout.html" %}
{% block content %}
<div class="home">
	<h1>Let&#8217;s rate!</h1>
	<p>Please evaluate the presented images</p>
	<ul class="rate-layout rate-images">
		<li>
			<img src="{{ images[0] }}" width="256" height="256" id="image1" alt="Image 1">
		</li>
		<li>
			<img src="{{ images[1] }}" width="256" height="256" id="image2" alt="Image 2">
		</li>
	</ul>
	<form class="rate-layout" action="/vote" method="post">
		<input id="vote1" class="btn btn-primary btn-lg" type="button" title="Vote image 1" value="Vote" onclick="sendVoteData('image1')">
		<input id="tie" class="btn btn-primary btn-lg" type="button" value="Tie" onclick="sendVoteData('tie')">
		<input id="vote2" class="btn btn-primary btn-lg" type="button" title="Vote image 2" value="Vote" onclick="sendVoteData('image2')">
	</form>
	<form class="rate-layout" action="/report" method="post">
		<button class="btn btn-outline-danger" name="CastReport" value="{{ images[0] }}" title="Report image 1">
			Report
		</button>
		<button class="btn btn-outline-danger" name="CastReport" value="{{ images[1] }}" title="Report image 2">
			Report
		</button>
	</form>
</div>
{% endblock %}
