<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rate Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{url_for('static', filename='jquery.cropit.js')}}"></script>
    <script src="{{url_for('static', filename='javaScriptFunctions.js')}}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('home') }}">Rate Me</a>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Vote</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('howto') }}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('upload') }}">Upload Image</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('highscores') }}">High Scores</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
      </ul>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
