<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rate Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='jquery.cropit.js')}}"></script>
    <script src="{{url_for('static', filename='javaScriptFunctions.js')}}"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Rate Me</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Vote</a></li>
            <li><a href="{{ url_for('howto') }}">About</a></li>
            <li><a href="{{ url_for('upload') }}">Upload Image</a></li>
            <li><a href="{{ url_for('highscores') }}">Highscores</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div id="warning" name="warning"></div>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
