{% extends "layoutOutside.html" %}
{% block content %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<div class="login">
	<div class="login-screen">
		<div class="app-title">
			<h1>Log In to Rank Me</h1>
		</div>

		<div class="login-form">
			<div class="control-group">
				<input type="text" class="form-control login-field" value="" placeholder="Username" name="username" id="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
			</div>

			<div class="control-group">
				<input type="password" class="form-control login-field" value="" placeholder="Password" name="password" id="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
			</div>

			<div id="fault" name="fault" class="warningFields"></div>

			<input type="submit" id="user-login-button" value="Log In" class="btn btn-primary btn-lg" onclick="sendLogin()">

			<input type="button" value="Create New User" class="btn" onclick="window.location.href='/newUser'" />
		</div>
	</div>
</div>

{% endif %}
{% endblock %}
